.telo{
	min-width: 80%;
	min-height: 100%;
	margin: 0px ;
	padding: 0px; 	 
}
@media screen and (max-device-width: 500px){
	.telo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.telo .header a{
		display: none;
	}
	#newPos{
		margin-left: 120px;
	}
	.telo .header {
		display: flex;
		justify-content: center;
	}
	.main{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px;
		padding: 0px;
	}
	.main button{
		display: none;
	}
}
.header{
	display: inline-flex;
	border: 1px solid #242323;
	background-color: #242323;
	color: #ffffff;
	width: 100%;
	margin-left:-2px;
}
.header a{
	margin-top: 23px;
	text-decoration: none;
	color: #939393;
	padding-right: 100px;
	font: normal normal normal 17px/1.3em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
}
.header h2{
	margin-left: 2%;
}
.header a:hover{
	transition: 0.2s all;
	color: #ffffff;
}
.main {
	display: flex;
	justify-content: space-around;
	margin-right: auto;
	margin-left: 60px;
}
.card{
	width: 30%;
	height:500px;
}
.card button{
	width:90.4%;
	height: 50px;
	background-color: black; 
	font-family: Arial, sans-serif;
	color: white;
	border:0px;
}